<!-- login form -->
<h4 class="text-center">Login</h4>
<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" novalidate>
        <div class="form-group">
            <label for="loginEmail">Email:</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
            
            <small class="form-text text-muted"
                *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                Please enter email address.!
            </small>

            <small class="form-text text-muted"
                *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                Email address not well formed.!
            </small>
        </div>

        <div class="form-group">
            <label for="loginPassword">Password:</label>
            <input type="password" class="form-control keyboardInput" formControlName="password" placeholder="Password" ><img [src]= "keyboardImageUrl" >
            
        </div>
        <button aria-label="Submit Form" type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    </form>
    <!-- login form -->
    <button aria-label="Go To Registration Page" class="btn btn-primary" routerLink="/register">Don't have an Account?Register</button>
</div>