
<h4 class="text-center">Register</h4>
<div class="container">
    <!-- registration form  -->
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" novalidate>
        <div class="form-group">
            <label for="registrationName">Full Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="registrationEmail">Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
            <small class="form-text text-muted"
                *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.required">
                Please enter email address.!
            </small>

            <small class="form-text text-muted"
                *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email">
                Email address not well formed.!
            </small>
        </div>

        <div class="form-group">
            <label for="registrationPassword">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
    </form>
    <!-- registration form -->
    <button routerLink="/login" class="btn btn-primary">Already have an Account?Login</button>
</div>